<div class="row">
    <div  class="col-2">
    </div>
    <div  class="col-8">

        <div class="row">
                <h2>Добавить новый телеграм канал</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Добавить</button>
                </form>
            </div>
        </div>
    </div>
    <div  class="col-2">
    </div>

</div>